/* Logo size */
.md-header__button.md-logo img {
  height: 60px;
  width: auto;
}

/* Hide redundant site title */
.md-header__title {
  display: none;
}

/* Black header */
.md-header {
  background-color: #202020 !important;
}

/* Main background */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #565656;
  --md-default-fg-color: #f9f8f6;
  --md-typeset-color: #f9f8f6;
  --md-sidebar-bg-color: #404040;
  --md-nav-fg-color: #e7e0d9;
}

.md-sidebar {
  background-color: #404040 !important;
}